
<h2>Create New Project</h2>
<label for="id_projectName">Project Name</label>
<input type="text" name="projectName" id="id_projectName" value="<%- projectName %>"/>

<label for="id_text">Description</label>
<input type="text" name="text" id="id_text" value="<%- text %>" />

<button id="btn-add">Add Item</button>
